<template>
  <div id="mapid" />
</template>

<script>
// import 'leaflet/dist/leaflet.css'
import L from 'leaflet'

export default {
  props: ['lat', 'lon'],
  watch: {
    lat () {
      this.centerMap()
    },
    lon () {
      this.centerMap()
    }
  },
  mounted () {
    this.mymap =
      L.map('mapid')
        // .setView([51.505, -0.09], 13)
        .setView([this.lat, this.lon], 13)
    L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
      attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
    }).addTo(this.mymap)
  },
  methods: {
    centerMap () {
      this.mymap.setView([this.lat, this.lon])
    }
  }
}
</script>

<style>
@import "../../node_modules/leaflet/dist/leaflet.css";

#mapid { height: 360px; }
</style>
