<template>
  <v-card class="mb-2">
    <v-card-title>
      <v-container fluid>
        <v-layout row>
          <v-flex xs4>
            <v-subheader>Road</v-subheader>
          </v-flex>
          <v-flex xs8>
            <v-text-field
              v-model="address.road"
              label="Road"
            />
          </v-flex>
        </v-layout>
        <v-layout row>
          <v-flex xs4>
            <v-subheader>Zip Code</v-subheader>
          </v-flex>
          <v-flex xs8>
            <v-text-field
              v-model="address.zipCode"
              label="Zip Code"
            />
          </v-flex>
        </v-layout>
        <v-layout row>
          <v-flex xs4>
            <v-subheader>City</v-subheader>
          </v-flex>
          <v-flex xs8>
            <v-text-field
              v-model="address.city"
              label="City"
            />
          </v-flex>
        </v-layout>
        <v-layout row>
          <v-flex xs4>
            <v-subheader>Complement</v-subheader>
          </v-flex>
          <v-flex xs8>
            <v-text-field
              v-model="address.complement"
              label="Complement"
            />
          </v-flex>
        </v-layout>
        <v-layout row>
          <v-flex xs4>
            <v-subheader>Country</v-subheader>
          </v-flex>
          <v-flex xs8>
            <v-text-field
              v-model="address.country"
              label="Country"
            />
          </v-flex>
        </v-layout>
        <v-layout row>
          <v-flex xs4>
            <v-subheader>State</v-subheader>
          </v-flex>
          <v-flex xs8>
            <v-text-field
              v-model="address.state"
              label="State"
            />
          </v-flex>
        </v-layout>
      </v-container>
    </v-card-title>
  </v-card>
</template>

<script>
export default {
  name: 'McAddressForm',
  props: ['address']
}
</script>
